<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <%= link_to 'All Surveys', surveys_path, class: 'btn btn-primary', :style=>'color:#FFF;' %>
      </div>
    </div>
    <h1>Survey Responses</h1>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Survey Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |response| %>
      <tr>
        <td><%= response.name %></td>
        <td><%= response.survey %></td>
        <td><%= link_to 'View Response', response %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


