<div class="container">
  <div class="page-header">
    <h1> <%= @response.name  %>'s  response for <%= @response.survey %></h1>
  </div>
  <div class="container">
    <div class="panel panel-info">
      <% @response.data.each do |k, v| %>
        <div class="panel-heading">
          <h3 class="panel-title"><%= @response.data[k]["Question"] %></h3>
        </div>
        <div class="panel-body" style="border: 1px solid; border-color: #ddd; margin: 30px 30px 30px 30px">
          <p> <strong>Question Type:</strong> <%= @response.data[k]["Type"] %></p>
        </div>
        <% if @response.data[k]["Answer"].kind_of?(Array) %>
          <div class="panel-body" style="border: 1px solid; border-color: #ddd; margin: 30px 30px 30px 30px">
            <strong>Answer:</strong> <%= @response.data[k]["Answer"].join(", ") %>
          </div>
        <% else %>
          <div class="panel-body" style="border: 1px solid; border-color: #ddd; margin: 30px 30px 30px 30px">
            <p> <strong>Answer:</strong> <%= @response.data[k]["Answer"] %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>














